@tailwind base;
@tailwind components;
@tailwind utilities;

html:focus-within {
  scroll-behavior: smooth;
}

html, body {
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Jost", sans-serif;
  font-weight: normal;
}

@font-face {
  font-family: KinkOMite;
  src: url(./assets/fonts/KLINOM__.TTF);
}

.link-underline {
  text-decoration: none;
  background-image: linear-gradient(#FEA82F, #FEA82F);
  background-size: 0% 0.1em;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition: background-size 0.2s ease-in-out;
  }
  .link-underline:hover,
  .link-underline:focus,
  .link-underline:active {
  background-size: 100% 0.1em;
  }