@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Jost", sans-serif;
  font-weight: normal;
  scroll-behavior: smooth;
}

@font-face {
  font-family: KinkOMite;
  src: url(./assets/fonts/KLINOM__.TTF);
}